body {
    background-image: url("assets/grey-image-bg.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: #b5b5b5;
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    font-family: "Space Grotesk", sans-serif;
}

.hanken-grotesk {
    font-family: "Hanken Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}


.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas:
        ". t t t t t t t t t t ."
        ". tag tag tag tag tag tag tag . . . ."
        ". m m m m m m m m . . ."
        ". . . . . . . . h h h .";

    width: 734px;
    height: 496px;
    padding: 50px;
    box-sizing: border-box;
    background-image: url("assets/Frame-18.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);


    /* FULL BACKGROUND IMAGE */
    background-image: url("assets/Frame-18.jpg");
    background-size: cover;       
    background-position: center;  
    background-repeat: no-repeat;

    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    
}

/* Header */
.header h1 {
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 42px;
    margin: 1px 0px 0px 10px;
    color: #0000FF;
    font-weight: 800;
    letter-spacing: 0px;
}

.header h2 {
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 42px;
    margin: -10px 0 0px 10px;
    color: #0000FF;
    font-weight: 500;
}

.tagline {
    font-size: 20px;
    color: #0000FF;
    margin: 7px 0 0px 10px;
}

/* Links */

.links-container {
    display: flex;
    flex-direction: column; 
    margin: 21px 0 0px 10px;      
}
.links-container a:nth-child(1) {
    border-bottom: 2px solid #0000FF;
    width: 614px;
    margin: -0px 0 0px 0px;
}

.links-container a:nth-child(2) {
    border-bottom: 2px solid #0000FF;
    width: 614px;
    margin: -9px 0 0px 0px;
}

.line3 {
    border-bottom: 2px solid #0000FF;
    width: 614px;
    margin: 36px 0 0px 0px;
}

.links-container a {
    display: block;
    font-size: 20px;
    color: #0000FF;
    text-decoration: none;
    width: 614px;
    padding: 15px 0 5px 0;
    border-bottom: 2px solid #0000FF;
}


.website-link {
   margin: 36px 0 0px 0px;
}

.email-link {
    margin: 36px 0 0px 0px;
}

/* Footer */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: auto;
}

.icon img {
    width: 50px;
    height: 50px;

    filter: invert(11%) sepia(100%) saturate(7484%) hue-rotate(244deg) brightness(101%) contrast(145%);
}
