body {
    background-color: #b5b5b5;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Space Grotesk", sans-serif;
}

.hanken-grotesk {
    font-family: "Hanken Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.container {
    width: 734px;
    height: 496px;
    padding: 50px;
    box-sizing: border-box;

    /* FULL BACKGROUND IMAGE */
    background-image: url("assets/Frame-19.jpg");
    background-size: cover;       /* fills the whole container */
    background-position: center;  /* centers the image */
    background-repeat: no-repeat;

    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Header */
.header h1 {
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 42px;
    margin: -4px 0px 0px 9px;
    color: #0000FF;
    font-weight: 700;
    letter-spacing: -1.5px;
}

.header h2 {
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 42px;
    margin: -7px 0 30px 0;
    color: #0000FF;
    font-weight: 400;
}

.tagline {
    font-size: 20px;
    color: #0000FF;
    margin: 0;
}

/* Links */
.links-container {
    margin-top: 40px;
    border-top: 2px solid #0000FF;
    width: 90%;
}

.links-container a {
    display: block;
    font-size: 20px;
    color: #0000FF;
    text-decoration: none;
    padding: 12px 0;
    border-bottom: 2px solid #0000FF;
    transition: opacity 0.2s;
}

.links-container a:hover {
    opacity: 0.7;
}

/* Footer */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: auto;
}

.icon img {
    width: 50px;
    height: 50px;

    filter: invert(11%) sepia(100%) saturate(7484%) hue-rotate(244deg) brightness(101%) contrast(145%);
}
