body {
    background-image: url("assets/grey-image-bg.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: #b5b5b5;
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    font-family: "Space Grotesk", sans-serif;
}

.hanken-grotesk {
    font-family: "Hanken Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}


.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 10px; 
    grid-template-areas:
        ". t t t t t t t t t t ."
        ". tag tag tag tag tag tag tag . . . ."
        ". m m m m m m m m m m ." 
        "s . . . . . . . . . . l";

    width: 734px;
    height: 496px;
    padding: 50px;
    box-sizing: border-box;
    background-image: url("assets/Frame-18.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;


    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);


    /* FULL BACKGROUND IMAGE */
   
    background: linear-gradient(180deg, #BDBDBD 60%, #A59CFF 100%);
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    
}
   
.my-logo {
width: 50px;
height: 50px;
margin: -480px 0px 379px 574px;
}

/* Header */
.header h1 {
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 42px;
    margin: 1px 0px 0px 10px;
    color: #0000FF;
    font-weight: 800;
    letter-spacing: 0px;
}

.header h2 {
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 42px;
    margin: -10px 0 0px 10px;
    color: #0000FF;
    font-weight: 500;
}

.tagline {
    font-size: 20px;
    color: #0000FF;
    margin: 7px 0 0px 10px;
    width: 614px;
    border-bottom: 2px solid #0000FF; /*Lines*/
    padding-bottom: 66px; /* Moves the 'portfolio' line even lower */
}

/* Links */

.website-link {
    margin: -6px 0 0px 10px; 
    padding-bottom: 7px; /* Moves the 'portfolio' line even lower */
}

.email-link {
  margin: 4px 0 0px 10px; 
  padding-bottom: 7px; /* Moves the 'portfolio' line even lower */ 
}



.links-container a {
    display: block;
    font-size: 20px;
    color: #0000FF;
    text-decoration: none;
    width: 614px;
    border-bottom: 2px solid #0000FF; /*Lines*/
}

/* Footer */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: auto;
}

.icon img {
    width: 70px;
    height: 70px;
    margin: 53px 0 0px -2px; 

    filter: invert(11%) sepia(100%) saturate(7484%) hue-rotate(244deg) brightness(101%) contrast(145%);
}
